.App {
  text-align: center;
}

.bg-success{
  height: 130vh !important;
  background-image: url("./images/image5.jpg") !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-form{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #9AD5E7 */
}
/* .form-group{
  gap: .5em !important;
} */
.signin-form{
  height: 70%;
  width: 50%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #9AD5E7;
  border-radius: .8em;
}

.signin-pg{
  height: 100vh;
  /* background-color: #9AD5E7; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form{
  height: 80%;
  width: 60%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #87d2e9;
  border-radius: .8em;
}
.login-form input{
  width: 20em;
  /* margin-top: .5em; */
  /* margin-bottom: 1em; */
  border: #0592CD 2px solid;
  border-radius: .5em;

}
.signup-pg{
  height: 100vh;
  /* background-color: #9AD5E7; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-form{
  margin-bottom: -10em;
  height: 120vh;
  width: 60%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #87d2e9;
  border-radius: .8em;
}
.signup-form input{
  width: 20em;
  /* margin-top: .5em; */
  /* margin-bottom: 1em; */
  border: #0592CD 2px solid;
  border-radius: .5em;

}
.tosignup{
  margin-top: -8em;
}
.tologin{
  margin-top: 4em !important;
}
.maindash{
background-color: #9AD5E7;
}
.typographs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.dashcards{
  height: 30vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
}
.dashcard1{
  background-color: #0592CD;
}
.dashcard2{
  background-color: #2CC3C3;
}
.dashcard3{
  background-color: #127782;
}
